body{
  background: rgb(0,35,36);
  background: linear-gradient(90deg, rgba(1, 71, 73, 0.877) 0%, rgba(12, 136, 208, 0.939) 42%, rgb(8, 101, 135) 84%);
}
.navbar{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 243, 222);
}
.logoo{
  color: rgb(4, 65, 8);
  text-align: center;
  letter-spacing: -1px;
  font-family: Cursive;
}
.btn{
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 10px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 6rem;
      height: 3rem;
      border-radius: 15px;
      margin-top: 16px;
    }
.form{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 2rem;
}
.inpt{
  width: 16rem;
  padding: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  
}
.btn2{
  padding: 18px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #007BFF; 
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
   margin-left: 1rem;
}
.btn2{
  transition: background-color 0.3s, transform 0.3s;
}
.btn2:hover {
  background-color: #0c3db0;
  transform: scale(1.05);
}
.country-card {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px; 
  margin: 16px; 
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  text-align: center; 
}

.countryname {
  font-size: 2em; 
  margin-bottom: 8px; 
  color: red;
}

.flag {
  width: 100%;
  height: auto; 
  max-width: 200px; 
  margin-bottom: 8px;
}

p {
  font-size: 1.5em; 
  margin: 4px 0; 
}


@media screen and (max-width: 700px){  
    .navbar{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(165, 254, 127);
       
    }
    .logoo{
        color: rgb(4, 65, 8);
        text-align: center;
        letter-spacing: -1px;
        font-family: Cursive;
    }
    .btn{
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 10px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            width: 6rem;
            height: 3rem;
            border-radius: 15px;
            margin-top: 16px;
          }

      h1{
        font-size: 1rem;
        
      }
  .inpt{
    width: 8.5rem;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 8px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
  }
  .btn2{
    padding: 5px 2px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #007BFF; 
    color: #fff;
    font-size: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    width: 4rem;
    margin-top: 5px;
}
  .frm{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  .flag{
    width: 6rem;
   
  }
         
 }